<!DOCTYPE html>

<style type="text/css">
    body {
        font-family: sans-serif; width: 800px; margin: 0 auto; padding: 10px;
    }
    label {
        display: block; font-size: 20px;
		
    hr {
        margin: 20px auto;
    }

    .post-title {
        font-weight: bold; font-size: 20px;
    }
    .post-body {
        margin: 0; font-size: 17px;
    }
</style>

<html>
    <head>
        <title>PermaLink Page</title>
    </head>
    <body>
		<h1>Blog do palavrão</h1>
		<hr>
		<label>	
			<div class = Titulo>{{title}}</div>
		</label>
		<label>
			<div class = body>{{body}}</div>
		</label>
        {{QUERIED}}
	</body>
</html>